<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <h1>Do you want to delete:
        <%= product.name %>
    </h1>
    <form action="/delete/<%= product.id %>" method="POST">
        <button type="submit">OK</button>
        <a href="/">Cancel</a>
    </form>
</body>

</html>